@model AbstractRepairServiceDAL.ViewModel.StorageViewModel
@{
    ViewBag.Title = "More";
}

<h2>More</h2>

<div>
    <table class="table">
        <tr>
            <th>
                <label>Материал</label>
            </th>
            <th>
                <label>Количество</label>
            </th>
        </tr>

        @foreach (var item in Model.StorageMaterials)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "List")
</p>